

.fundo-rosa {
    background-color: #FFB6C1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.unico, #outro {
    font-size: 24px;
}

#segundo {
    color: #0000FF;
    font-size: 36px;
}

#outro {
    background-color: #90EE90;
    font-weight: 700;
}